html, body {
  height: 100%;
  width: 100%;
};

/*hidden attribute  */

.hidden{
  display: none;
};

.hintbutton{
  display:inline-block;
  width: 49%;
  text-align: center;
  padding: 16px;
  height:auto;
  white-space:normal;
  
}